@import "variables";

body {
  background: $white-color;
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

h2 {
  border-bottom: 1px solid lighten($bg-color, 20%);
}

h1, h2 {
  margin: 0;
}