@import "variables";

body {
  background: $bg-color;
  margin: 0;
  padding: 0;
}

header {
  color: $header-color;
  font-family: 'Pacifico', cursive;

  h1 {
    color: #fff;
    font-size: 40px;
  }

  h2 {

  }

  h1, h2 {
    margin: 0;
  }
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-align: justify;
  margin: 0;
}

#header {
  background: $header-bg-color;
  height: $header-height;
  text-align: center;
  padding: 20px $content-margin;
}

main {
  @import "main";
}

