@import "variables";
@import "reset";

#header, #card-container {
  padding: 0 $content-margin;
}

#header {
  background: $bg-color;
  font-family: 'Pacifico', cursive;
  height: $header-height;
  color: $white-color;
}

#card-container {
  display: flex;
}

.card {
  width: $card-size;
  height: $card-size;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.75);

  padding: 15px;
  margin: 15px;

  box-sizing: border-box;
}
