ul {
  list-style: none;
  padding: 0;
}

h1 {
  margin: 0;
  //font-family: 'Gloria Hallelujah', cursive;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 1px;

  //header {
  //  position: absolute;
  //  bottom: 0;
  //}
}