body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    background: skyblue;
}

#main {
    flex: 1;
    background: moccasin;
}

#footer {
    height: 150px;
    background: tomato;
}

.schedule {
    width: 100%;
}

.schedule .shift {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}